{% extends 'base.html' %}

{% block title %}Reports page{% endblock %}

{% block content %}
    <h1>Reports Page</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p><br>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <button onclick="sendDataToController();">刪除所選目標</button>

    <table>
        <thead>
            <tr>
                <th>選擇</th>
                <th>名稱</th>
                <th>正在執行</th>
                <th>查看詳細狀態</th>
                <th>執行</th>
                <th>中止</th>
            </tr>
        </thead>
        <tbody>
            {% for targetName in targetNames %}
                <tr>
                    <td>
                        <input type="checkbox" name="target" value="{{ targetName }}">
                    </td>
                    <td>{{ targetName }}</td>
                    <td>{% if targetName == currentTargetName %}是{% endif %}</td>
                    <td>
                        <form method="get" action="/reports/{{ targetName }}">
                            <input type="hidden" name="targetName" value="{{ targetName }}">
                            <button type="submit">查看詳細狀態</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/execute">
                            <input type="hidden" name="targetName" value="{{ targetName }}">
                            <button type="submit">執行</button>
                        </form>
                    </td>
                    {% if targetName == currentTargetName %}
                    <td>
                        <form method="POST" action="/stop">
                            <input type="hidden" name="targetName" value="{{ targetName }}">
                            <button type="submit">中止</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function sendDataToController() {
            var checkboxes = document.getElementsByName("target");
            var selectedValues = [];
            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    selectedValues.push(checkbox.value);
                }
            });
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/delete", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify(selectedValues));
            xhr.onload = function() {
                if (xhr.status == 200) {
                    location.reload();
                }
            }
        }
    </script>
{% endblock %}
