{% extends 'base.html' %}

{% block title %}Target report{% endblock %}

{% block content %}
    <body>
        <h1 style="padding-top: 50px;">Report Page</h1>
        <h2>Target Name: {{ target }}</h2>

        <h2>Fuzz Result: </h2>

        {% if targetResult == None %}
            <p>No report found, maybe the target still not be run.</p>
        {% elif targetResult.num_fuzz_data ==  0%}
            <p>The report will be generated after running for a while.</p>
        {% else %}
            <div>
                {% for img in imgs %}
                    <img src="{{ url_for('static', filename= 'fuzz_targets_img/' + target + '/' + img ) }}" alt="Image">
                {% endfor %}
            </div>
            <hr>
            <p>Number of crashed found: {{ targetResult.num_crashes }}</p>
            <h3>Crashed Targets List:</h3>
            <ul>
                {% for crashed in targetResult.get_crashed %}
                <li>
                <hr> <!-- Add a horizontal line to separate each crashed information -->
                <tr>
                    <p style="font-size: smaller; margin-right: 10px; display: inline-block;">Crash number: {{ crashed.get_data.num }}</p>  
                    <form method="get" action="/replay">
                        <input type="hidden" name="targetName" value="{{ target }}">
                        <input type="hidden" name="crashNum" value="{{ crashed.get_data.num }}">
                        <button type="submit" style="display: inline-block; min-height: 50px;">Replay</button>
                    </form>
                </tr>
                <p style="font-size: smaller;">Crash ID: {{ crashed.get_data.id }}</p>
                <p style="font-size: smaller;">Signal Number: {{ crashed.get_data.signal_number }}</p>
                <p style="font-size: smaller;">Relative Time: {{ crashed.get_data.relative_time }}</p>
                <p style="font-size: smaller;">Execs: {{ crashed.get_data.execs }}</p>
                <p style="font-size: smaller;">Crashing Input: {{ crashed.get_data.crashingInput }}</p>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
{% endblock %}