{% extends 'base.html' %}

{% block title %}Target report{% endblock %}

{% block content %}
<body>
    <h1 style="padding-top: 50px;">Report Page</h1>
    <h2>Target Name: {{ target.name }}</h2>

    <h2>Fuzz Result: </h2>
    <div>
        {% for img in plotImgs %}
            <img src="{{ url_for('static', filename= 'fuzz_targets_img/' + target.name + '/' + img ) }}" alt="Image">
        {% endfor %}
    </div>

    <p>Number of crashed found: {{ target.fuzzResult.numCrashes }}</p>
    <h3>Crashed Targets List:</h3>
    <ul>
        {% for crashed in target.fuzzResult.getCrashed %}
            <li>{{ crashed }}</li>
        {% endfor %}
    </ul>

    <!-- {% for key, value in target.fuzzStatus.getStatus().items() %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %} -->
</body>

{% endblock %}